h1{color: rgb(62, 39, 88);
   font-size: 45px;
text-align: center;} 

body{
    background-color: rgb(224, 197, 247);
    background-image: url("https://cdn.pixabay.com/photo/2019/04/15/06/13/beach-4128541_960_720.png");
    background-repeat: no-repeat;
    background-size:100%;
}
h2{color: rgb(141, 125, 155);
}


